<head>
  <title>offer-a-service</title>
  <!-- Semantic UI Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" media="screen" title="no title" charset="utf-8">

  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

  <!-- Semantic UI Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js" charset="utf-8"></script>

</head>
