.ui.grid.container {
  margin-top: 0px;
  margin-bottom: 0px;
}

#login-buttons > .login-link-and-dropdown-list > a {
  text-decoration: none;
  color: white;
}

#offers-list {
  margin-top: 20px;
}

.ui.green.text {
  color: green;
}

.ui.green.bold.text {
  font-weight: bolder;
  color: green;
}

.fluid.back-button {
  margin-top: 50px;
}

.offer-form {
  margin-top: 20px;
}
