<template name="form_offer">
  <div class="ui row">
    <div class="sixteen wide column">
      <div class="ui segment">

        <form class="ui small form">
          <div class="fields">
            <div class="eight wide  field">
              <label>Offering</label>
              <input type="text" name="offer" placeholder="Programming">
            </div>

            <div class="eight wide  field">
              <label>For</label>
              <input type="text" name="exchange" placeholder="Cooking">
            </div>
          </div>
          <!-- /.fields -->

          <div class="fields">
            <div class="sixteen wide field">
              <label>Details</label>
              <textarea rows="2" name="details" placeholder="describe your offer ..."></textarea>
            </div>
          </div>
          <!-- /.fields -->

          <input type="submit" class="ui fluid green button" value="Offer">
        </form>
        <!-- /.form -->
      </div>
      <!-- ./segment -->
    </div>
    <!-- /.sixteen.wide.column -->
  </div>
  <!-- /.row -->
</template>
