<template name="offer">
  <div class="item">
    <div class="right floated content">
      <div class="ui green small animated fade button">
        <div class="visible content">Accept</div>
        <div class="hidden content">
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
    <div class="content">
      <h3 class="ui header">{{username}}</h3>
      Will do your
      <span class="ui bold green text">{{offer}}</span>
      for
      <span class="ui bold green text">{{exchange}}
      </span>
      <i class="blue info circle icon details-icon" data-content="{{details}}" data-variation="inverted"></i>
    </div>
  </div>
</template>
