<template name="offer">

  <div class="item">
    <!-- Right content -->
    <div class="right floated content">

      {{#if isOwner }}
        <a href="#">
          <i class="ui red remove icon"></i>
        </a>
      {{/if}}

      <!-- only registered users can accept an offer -->
      {{#if currentUser}}
        <div class="ui green small animated fade button {{#if isOwner}}disabled{{/if}}">
          <div class="visible content">Accept</div>
          <div class="hidden content">
            <i class="checkmark icon"></i>
          </div>
        </div>
      {{/if}}
    </div>
    <!-- /Right content -->

    <div class="content">
      <h3 class="ui header">{{username}}</h3>
      Will do your
      <span class="ui bold green text">{{offer}}</span>
      for
      <span class="ui bold green text">{{exchange}}
      </span>
      <i class="blue info circle icon details-icon" data-content="{{details}}" data-variation="inverted"></i>
    </div>

  </div>
  <!-- /.item -->
</template>
